:root {
    --background-color: #eff0f6;
    --border-color: #d7d6fc;
    --text-color: #000000;
    --primary-purple: #6b00f5;
    --pattens-blue: #e1f0fe;
    --ghost-white: #f7f7ff;
    --white-ice: #defef0;
}

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
}

body {
    align-items: center;
    background:
            url("img/bg__btm-right.svg") no-repeat bottom right,
            url("img/bg__top-right.svg") no-repeat top right,
            var(--background-color) url("img/bg__left.svg") no-repeat left 64%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.container {
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 0 70px #C7CBE3;
    height: 812px;
    margin: 25px;
    overflow: hidden;
    width: 375px;
}

.container-title {
    display: block;
    font-size: 32px;
    line-height: 48px;
    font-weight: bold;
    height: 97px;
    padding: 49px 37px 0;
    width: 100%;
}

.container-menu {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: calc(100% - 97px);
    justify-content: flex-start;
    overflow: auto;
    padding-left: 28px;
    padding-top: 38px;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
}

.container-menu::-webkit-scrollbar {
    width: 0;
}

.menu-item {
    border-radius: 20px 0 0 20px;
    min-height: 152px;
    margin-bottom: 34px;
    padding: 25px 0 39px 156px;
    position: relative;
    width: 100%;
}

.menu-item:nth-child(6n + 1) {
    background: rgba(122, 179, 243, 0.2);
}

.menu-item:nth-child(6n + 2) {
    background: rgba(233, 121, 178, 0.2);
}

.menu-item:nth-child(6n + 3) {
    background: rgba(215, 215, 249, 0.2);
}

.menu-item:nth-child(6n + 4) {
    background: rgba(120, 247, 187, 0.2);
}

.menu-item:nth-child(6n + 5) {
    background: rgba(233, 121, 178, 0.4);

}

.menu-item:nth-child(6n) {
    background: rgba(215, 215, 249, 0.4);
}

.menu-item-image {
    display: block;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 148px;
    left: -13px;
    position: absolute;
    top: -18px;
    width: 148px;
}

.menu-item-description {
    width: 158px;
}

.menu-item-title {
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 16px;
}

.menu-item-price {
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
}

.add-to-cart {
    background: var(--primary-purple);
    border: none;
    border-radius: 20px;
    bottom: -16px;
    color: #ffffff;
    font: inherit;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    line-height: 24px;
    padding: 4px 18px;
    position: absolute;
    text-align: center;
    transition: all .2s;
    width: 130px;
}

.add-to-cart:hover {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
}

.add-to-cart:active {
    filter: brightness(50%);
}

.menu-item.in-cart .add-to-cart {
    background: #000000;
}

.icon-check {
    margin-right: 8px;
    vertical-align: middle;
}

.container-cart {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: calc(100% - 97px);
    justify-content: flex-start;
    overflow: auto;
    padding: 38px 25px 0;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
}

.container-cart::-webkit-scrollbar {
    width: 0;
}

.cart-item {
    align-items: flex-start;
    border-bottom: 1px solid #d7d7f9;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    min-height: 145px;
    width: 100%;
}

.cart-item:last-child {
    border-bottom: 5px solid #d7d7f9;
    margin-bottom: 25px;
}

.cart-item-image {
    background: no-repeat left top;
    background-size: contain;
    display: flex;
    height: 64px;
    width: 64px;
}

.cart-item-counter {
    background-color: #000000;
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin: auto;
    text-align: center;
    width: 32px;
}

.cart-item-body {
    margin-bottom: 43px;
    padding-top: 9px;
    width: 239px;
}

.cart-item-price {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 16px;
}

.cart-item-controls {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.cart-item-controls input {
    display: none;
}

.cart-item-quantity {
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
    height: 32px;
    line-height: 24px;
    width: 111px;
}

.button-minus,
.button-plus {
    background: var(--primary-purple) url("img/chevron.svg") no-repeat 8px center;
    background-size: 13px;
    border-radius: 50%;
    display: inline-block;
    height: 32px;
    transition: all .2s;
    width: 32px;
}

.button-plus {
    transform: rotate(180deg);
}

.button-minus:hover,
.button-plus:hover {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
}

.button-minus:active,
.button-plus:active {
    filter: brightness(50%);
}

.cart-item-total-price {
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
}

.summary {
    align-self: flex-end;
    order: 100;
}

.summary td {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    padding: 10px 0 10px 25px;
    text-align: right;
    vertical-align: baseline;
}

.summary td:last-child {
    font-size: 32px;
    line-height: 32px;
}

.summary tr:last-child td:last-child {
    color: var(--primary-purple);
}

.cart-empty {
    font-size: 16px;
    padding-left: 12px;
}